body {
    font-family: "Oxanium", cursive; 
    background-color: #000;             /*Definindo cor do fundo da tag body*/
    color: #fff ;                       /*Definindo a cor padrão dos textos dentro da tag body*/
}

body:before{          /**/
    content: "batata";
    background-image: url(../img/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}      


.cabecalho {
    display: flex; 
    justify-content: center;              /*Junto com o recurso display, esses elementos centralizam o título X-MEN no topo da página"*/
}

.selecao-de-personagens {
    display: flex; /*Aqui o display é responsável por colcoar as sections da tag body lado a lado*/
    align-items: center;  /*alinhamento dos objetos verticalmente*/
    gap: 30px;  /*Distanciamento entre as sections*/
    min-height: calc(100vh - 152px); /*01:24*/
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens {   /*Faço uso de dois termos aqui para especificar que quero a tag de class lista-de-personagens que está dentro da tag selecao-de-personagens*/
    display: flex;  /*O flex faz que os elementos da lista fiquem lado a lado*/
    flex-wrap: wrap;
    gap: 30px;  /*Aqui estou criando uma margem de separação entre os elementos da lista*/
    justify-content: center;  /*Mantem os cards centralizado*/
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column; /*infos em uma hora*/
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.selecao-de-personagens .personagens .titulo {     /*Novamente definindo classes pais e filhos*/
    font-size: 20px; /*Tamanho da letra*/
    letter-spacing: 4px; /*espaçamento entre letras*/
    text-transform: uppercase; /*Definindo-as como maiuscula*/
    border-bottom: 2px solid #47f4ff; /*Definindo uma borda e sua cor*/
    width: 100%; /*Definindo comprimento do título para que a borda o preencha*/
    text-align: center; /*Alinhamento de texto*/
}

.lista-de-personagens .personagem img {
    width: 100%; /*Definindo o tamanho dos cards.*/
    height: 100%;
}

.lista-de-personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado {
    text-align: center; /*Alinhamento do texto*/
    max-height: 530px;
}

.personagem-selecionado .personagem-grande{
    width: 430px;
    height: 430 px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff ;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}